@import "./styles/variables.css";
@import "./styles/calendar.css";
@import "./styles/datepicker.css";

body {
  background-color:var(--calendar-bg2);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-size: calc(var(--calendar-size) * 0.04);
}

.title {
  color: var(--title-color);
  font-weight: var(--title-fw);
  text-align: center;
}

i {
  cursor: pointer;
  font-size: 14px;
}