:root {
  --calendar-size: 300px;
  --calendar-bg1: #fff;
  --calendar-bg2: #f8e8ee;
  --calendar-nav-bg: #fdcedf;
  --calendar-nav-fz: #fff;
  --title-color: #db5b33;
  --title-fw: 300;
  --text-color1: #ccc;
  --text-point-color1: #f00;
}
